.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 8vh;
  width: 100%;
  text-align: center;

  a {
    height: 100%;
    width: auto;
    margin: 0 auto;
    margin-top: 0.5vh;

    img {
      height: 100%;
      width: auto;
      margin: 0 auto;
    }
  }

  .is-mobile {
    @media only screen and (orientation: portrait) {
      height: 8vw;

      a {
        margin-top: 0.5vw;
      }
    }
  }
}

footer {
  background: #fff url('~assets/images/footer-bg.png');

  .logo-yostar {
    width: 66.6rem;
  }
}

.frame-container {
  background: url('~assets/images/background.png') no-repeat 50%;
  min-height: 82.5vh;

  .is-mobile & {
    min-height: auto;
    height: 100vh;

    @media only screen and (orientation: portrait) {
      height: 100vw;
    }
  }

  .iframe-wrapper {
    iframe {
      aspect-ratio: 16 / 10;
    }

    &.is-fullscreen {
      iframe {
        aspect-ratio: unset;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        @media only screen and (orientation: portrait) {
          width: 100vh;
          height: 100vw;
        }
      }
    }

    @apply relative;
    z-index: 1;

    &::before,
    &::after {
      content: '';

      @apply block;
      @apply absolute;

      height: 82%;
      width: 24.5%;
      z-index: -1;
      top: 18%;
    }

    &::before {
      background: url('~assets/images/gamedev-left.png') no-repeat 50%;
      left: -15.58%;

      @apply bg-cover;
    }

    &::after {
      background: url('~assets/images/gamedev-right.png') no-repeat 50%;
      right: -15.58%;

      @apply bg-cover;
    }
  }
}

.flex-edges {
  flex: 0 0 21.5%;
}

.left-icons {
  .help-icon,
  .readme-icon {
    @apply bg-cover;
    @apply relative;

    height: 3.6vw;
    width: 7.8vw;

    .is-mobile & {
      @media only screen and (orientation: portrait) {
        height: 3.6vh;
        width: 7.8vh;
      }
    }

    &::after {
      @apply bg-no-repeat;
      @apply bg-contain;
      @apply w-full;
      @apply h-full;
      @apply opacity-0;

      @apply absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      z-index: 10;

      transition: opacity 0.3s ease-in-out;
    }

    &:hover {
      @apply cursor-pointer;

      &::after {
        @apply opacity-100;
      }
    }
  }

  .help-icon {
    background-image: url('~assets/images/help.png');

    &::after {
      content: ' ';
      background-image: url('~assets/images/help-hover.png');
    }
  }

  .readme-icon {
    background-image: url('~assets/images/readme.png');

    &::after {
      content: ' ';
      background-image: url('~assets/images/readme-hover.png');
    }
  }
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .modal-close-button {
    top: -1.5rem;
    right: -1.5rem;
    z-index: 80;
  }

  .modal-content {
    overflow-y: auto;
    width: 60vw;
    min-height: 50vh;
    max-height: 80vh;

    &::-webkit-scrollbar {
      display: none;
    }

    .is-mobile & {
      @media only screen and (orientation: portrait) {
        width: 60vh;
        min-height: 50vw;
        max-height: 80vw;
      }
    }
  }

  font-size: 3rem;

  .is-mobile & {
    font-size: 1.5rem;
  }
}

.mobile-only {
  display: none;

  .is-mobile & {
    display: block;
  }
}
